<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TimeKeeper Phoenix Demo app</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <ul class="nav nav-pills pull-right">

        </ul>
        <span class="logo"></span>
      </div>
      <%= if @current_user do %>
        <h2>Welcome, <%= @current_user["name"] %>!</h2>
        <img src="<%= @current_user["avatar_url"] %>" class="img-circle"/>
      <% else %>
        <br>
        <br>

        <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "github" %>">
          <i class="fa fa-github"></i>
          Sign in with GitHub
        </a>
      <% end %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/jspm_packages/system.js") %>"></script>
    <script src="<%= static_path(@conn, "/config.js") %>"></script>
  <script>
    System.config({
      "paths": {
        "*": "js/*.js"
      }
    });
    System.import('app');
  </script>
  </body>
</html>
