@import "bootstrap/bootstrap-flex.scss";
@import "font-awesome/font-awesome.scss";
/* Space out content a bit */
body {
  background-color: rgb(40,44,52);
  color: rgb(157,165,180);
  padding-top: 70px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }
.text-btn {
  background: none;
  color: inherit;
}
